<h1>{{title}}</h1>
<p>Welcome to {{title}}, Generated with ironLauncher</p>
<hr> </hr>
<p><b>Celebrities</b></p>
<div><a href="/celebrities/create">Introduce Celebrity</a></div>
<div><a href="/celebrities">List of Celebrities</a></div>
<hr> </hr>
<p><b>Movies</b></p>
<div><a href="/movies/create">Introduce Movie</a></div>
<div><a href="/movies">List of Movies</a></div>
