<h2>List of Celebrities</h2>

{{#each celebrity}} 
{{!-- forEach celebrity del array de celebrities de la db --}}
<hr> </hr>
<p>name: <b>{{this.name}}</b></p>
<p>Occupation: <b>{{this.occupation}}</b></p>
<p>Catch Phrase: <b>{{this.catchPhrase}}</b></p>
<hr> </hr>
{{/each}}
