<h2>Introduce celebrity</h2>
<hr> </hr>
<div><a href="/">Home</a></div>
<div><a href="/celebrities">List of Celebrities</a></div>
<hr> </hr>


<form action="/celebrities/create" method="post">
    <input type="text" name="name" placeholder="Celebrity Name">
    <input type="text" name="occupation" placeholder="Celebrity's Occupation">
    <input type="text" name="catchPhrase" placeholder="Celebrity's Catch Phrase">
    <button type="submit">Introduce Celebrity</button>
</form>